/* .mainImg{
    width: 549px; height: 405px;
    align-items: center;
    margin-top: 70px;
} */
/* .bgImg{
    width: 100%;
    height: 700px;
}
@media screen and (max-width:1100px) and (min-width:768px) {
    
    .mainImg{
        width: 600px;
        height: 500px;
    }
    .mainText{
margin-left: 4rem;
max-lg:pt-32

    }
}
@media screen and (max-width:767px) {
    
    .mainImg{
        width: 280px;
        height: 280px;
    }
    .bgImg{
        height: 780px;
        justify-content: start;
    }
    
}
 */
