* {
  font-family: 'Poppins';

}

body {
  overflow-x: hidden;
}
.line {
  position: relative;
  height: fit-content;
  /* display: flex; */
}

.line::after {
  content: "";
  position: absolute;
  left: 0;
  /* bottom: 15%; */
  width: 0%;
  height: 3px;
  background-color: #FD749B;;
  /* color: rgb(253, 116, 155); */
  transition: width 0.7s ease-in-out;
}

.line:hover::after {
  
  width: 95%;
}

/* li {
  position: relative;
  z-index: 0;
  margin-bottom: 0;
} */


.loginBTN {
  width: 157px;
  height: 54px;
  color: white;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border-radius: 100px;
  font-family: 'Poppins';
  cursor: pointer;
  font-size: larger;

}

.border-gradient {

  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}


.border-gradient:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  border-bottom: 4px solid #FD749B;
  bottom: 0;
  left: 25%;

}










.main-text {
  font-family: 'Poppins';
  display: flex;
  margin-left: 30px;
}

.main-text>h3 {
  color: white;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 400px;
  height: 200px;

}