
*{
font-family: 'Poppins';
}
body{
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
.loginBTN{
  width: 157px;
  height: 54px;
  color: white;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
border-radius: 100px;
font-family: 'Poppins';
cursor: pointer;
font-size: larger;

}
.border-gradient{
  position: relative;
            display: inline-block;
            padding-bottom: 5px;
}


.border-gradient:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  border-bottom: 4px solid #FD749B;
  bottom: 0;
  left: 25%;
  
}
/* .border-gradient:hover {
  border-bottom:1px solid  #FD749B ;;
  border-bottom-width: 3px;
 

} */

/* .border-gradient::before{
  content: '';
  width: 90%;
  background-color: #FD749B;
  position: absolute;
  right: 10px;
  top:20px;
  height: 2px;
  border-radius: 2px;


    
} */








.main-text{
  font-family:'Poppins';
  display: flex;
  margin-left: 30px;
}
.main-text > h3{
  color: white;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 400px;
  height: 200px;

}







